/* General Rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

/* Colors & General Style */
h2,
h3 {
  color: #fff;
  font-size: bold;
}

.white-text {
  color: #fff;
}

p,
a {
  color: #b3b3b3;
}

/* List item e Anchor tag */

li,
a {
  list-style: none;
  text-decoration: none;
}

/* Main Wrap */
#main-wrap {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #141922;
  display: flex;
}

/* Left-main-Content */

#left-content {
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;
}

#left-content .xs-left-content {
  display: none;
}

#left-content #logo-brand {
  height: 40px;
  margin: 10px 0 20px 0;
}

#left-content ul li {
  padding: 7px 0;
}

/* .marker {
  position: absolute;
  background-color: #adff2f;
  width: 4px;
  vertical-align: middle;
  height: 40px;
  display: none;
} */

#left-content a {
  color: #b3b3b3;
  position: relative;
  font-weight: bold;
}

#left-content a:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
}

#left-content img {
  height: 25px;
  vertical-align: middle;
}

#left-content #left-content-playlist {
  margin-top: 15px;
}

#left-content #left-content-playlist i {
  vertical-align: middle;
  margin: 10px 5px 10px 0;
}

#left-content #left-content-playlist #side-playlist {
  overflow: auto;
  height: calc(100vh - 450px);
}

#left-content #install-app {
  margin-bottom: 10px;
}

#left-content #install-app img {
  height: 20px;
  width: auto;
  margin: 0 2px 0 -5px;
}

#left-content #install-app div {
  padding: 5% 0;
}

#left-content #install-app div:first-of-type {
  border-bottom: 1px solid #b3b3b3;
}

/* Right main content */

#right-content {
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
  padding: 80px 20px 0 20px;
}

#right-content #right-navFixed {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #00000091;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 80px;
  color: #fff;
}

#right-content #right-navFixed #navFixed-btn {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 15px;
  margin: 0 25px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

#right-content #right-navFixed #navFixed-btn:hover {
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}

#right-content #right-content-navigation {
  display: flex;
  justify-content: center;
}

#right-content #right-content-navigation ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#right-content #right-content-navigation ul li {
  margin: 20px 15px;
  list-style: none;
}

#right-content #right-content-navigation ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

#right-content #right-content-navigation ul li a:hover {
  color: #fff;
}

#right-content section .section-title {
  margin-bottom: 20px;
}

#right-content section h2 {
  font-size: 20px;
  font-weight: bold;
}

#right-content section p {
  text-transform: none;
  font-weight: bold;
  margin-top: 10px;
}

#right-content #recently-played {
  display: flex;
  flex-wrap: wrap;
}

#right-content #recently-played .thumbnail-card {
  text-align: center;
  margin-right: 20px;
  flex-basis: calc((100% / 6) - 20px);
  margin-bottom: 20px;
}

#right-content #recently-played .thumbnail-card img {
  width: 100%;
  margin-bottom: 10px;
}

#right-content #recently-played .rounded-img {
  border-radius: 50%;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #282828;
  padding: 0 2%;
}

footer #media-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer #media-player #now-play {
  display: flex;
  align-items: center;
}

footer #media-player #now-play img {
  height: 40px;
}

footer #media-player #now-play i {
  margin-right: 10px;
}

footer #media-player #media-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #media-player #media-controller i {
  color: #b3b3b3;
  width: 30px;
  margin-bottom: 10px;
}

footer #media-player #media-controller #media-bar {
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 996px) {
  #right-content #recently-played .thumbnail-card {
    text-align: center;
    margin-right: 10px;
    flex-basis: calc((100% / 4) - 10px);
  }
}
@media (max-width: 576px) {
  #left-content {
    width: 50px;
    align-items: center;
  }

  #left-content img {
    margin: 7px 0;
  }

  #left-content #logo-small {
    height: 30px;
  }

  #left-content nav,
  #left-content #left-content-playlist,
  #left-content #install-app {
    display: none;
  }

  #left-content .xs-left-content {
    display: block;
  }

  #left-content .xs-left-content:first-of-type ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #left-content .xs-left-content:first-of-type ul li {
    padding: 0;
  }

  #right-content {
    width: calc(100% - 50px);
  }

  #right-content #right-navFixed {
    width: calc(100% - 50px);
  }

  #right-content #recently-played .thumbnail-card {
    text-align: center;
    margin-right: 10px;
    flex-basis: calc((100% / 2) - 10px);
  }
}

/* Scrollbar customization */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}
